.about {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100vh;
	width: 100%;
	background-color: transparent;
}

.main_img {
	opacity: 0;
	position: absolute;
	width: 10%;
}

.main_img1 {
    top: 67%;
    left: 73%;
    width: 8%;
    animation: img_pop1 1s ease-out 5s;
    animation-fill-mode: forwards;
}

@keyframes img_pop1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.2;
	top: 55%;
    left: 59%;
	}
}

.main_img2 {
    top: -11%;
    left: 40%;
    width: 12%;
    animation: img_pop2 1s ease-out 5s;
    animation-fill-mode: forwards;
}

@keyframes img_pop2 {
	0% {
		opacity: 0;
	}

	100% {
	opacity: 0.2; 
	top: 10%;
    left: 40%;
	}
}

.main_img3 {
    top: 42%;
    left: 73%;
    width: 15%;
	animation: img_pop3 1s ease-out 5s;
    animation-fill-mode: forwards;

}

@keyframes img_pop3 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.2;
		top: 42%;
    	left: 51%;
	}
}

.main_img4 {
    top: 22%;
    left: 75%;
    width: 12%;
    animation: img_pop4 1s ease-out 5s;
    animation-fill-mode: forwards;
}

@keyframes img_pop4 {
	0% {
		opacity: 0;
	}

	100% {
	opacity: 0.2; 
	top: 26%;
    left: 58%;
	}
}

.main_img5 {
	top: 6%;
    left: 53%;
    width: 16%;
    animation: img_pop5 1s ease-out 5s;
    animation-fill-mode: forwards;
}

@keyframes img_pop5 {
	0% {
		opacity: 0;
	}

	100% {
	opacity: 0.2; 
	top: 19%;
    left: 46%;
	}
}

.main_img6 {
	top: 83%;
    left: 58%;
    width: 15%;
    animation: img_pop6 1s ease-out 5s;
    animation-fill-mode: forwards;
}

@keyframes img_pop6 {
	0% {
		opacity: 0;
	}

	100% {
	opacity: 0.2; 
	top: 57%;
    left: 48%;
	}
}

.main_img7 {
    width: 6%;
    top: 92%;
    left: 36%;
    animation: img_pop7 1s ease-out 5s;
    animation-fill-mode: forwards;
}

@keyframes img_pop7 {
	0% {
		opacity: 0;
	}

	100% {
	opacity: 0.2; 
	top: 65%;
    left: 47%;
	}
}

.main_img8 {
    top: 16%;
    left: 22%;
    width: 12%;
    animation: img_pop8 1s ease-out 5s;
    animation-fill-mode: forwards;
}


@keyframes img_pop8 {
	0% {
		opacity: 0;
	}

	100% {
	opacity: 0.2; 
	top: 27%;
    left: 36%;
	}
}

.main_img9 {
    transform: rotate(180deg);
    width: 7%;
    top: 9%;
    left: 75%;
    animation: img_pop9 1s ease-out 5s;
    animation-fill-mode: forwards;

}

@keyframes img_pop9 {
	0% {
		opacity: 0;
	}

	100% {
	opacity: 0.2; 
	top: 25%;
    left: 57%;
	}
}

.main_img10 {
	top: 88%;
    left: 44%;
    width: 5%;
    transform: rotate(-10deg);
    animation: img_pop10 1s ease-out 5s;
    animation-fill-mode: forwards;
}

@keyframes img_pop10 {
	0% {
		opacity: 0;
	}

	100% {
	opacity: 0.2; 
	top: 40%;
    left: 49%;
	}
}

.main_img11 {
    width: 4%;
    top: 52%;
    left: 22%;
    animation: img_pop11 1s ease-out 5s;
    animation-fill-mode: forwards;
}


@keyframes img_pop11 {
	0% {
		opacity: 0;
	}

	100% {
	opacity: 0.2; 
	top: 50%;
    left: 37%;
	}
}

.main_img12 {
    width: 9%;
    top: 55%;
    left: 25%;
   animation: img_pop12 1s ease-out 5s;
    animation-fill-mode: forwards; 
}


@keyframes img_pop12 {
	0% {
		opacity: 0;
	}

	100% {
	opacity: 0.2; 
	top: 48%;
    left: 41%;
	}
}

.main_img13 {
    width: 4%;
    transform: rotate(-10deg);
    top: 46%;
    left: 79%;
    animation: img_pop13 1s ease-out 5s;
    animation-fill-mode: forwards;
}


@keyframes img_pop13 {
	0% {
		opacity: 0;
	}

	100% {
	opacity: 0.2; 
	top: 46%;
    left: 63%;
	}
}

.main_img14 {
    top: 81%;
    left: 37%;
    width: 8%;
    animation: img_pop14 1s ease-out 5s;
    animation-fill-mode: forwards;
}


@keyframes img_pop14 {
	0% {
		opacity: 0;
	}

	100% {
	opacity: 0.2; 
	top: 59%;
    left: 41%;
	}
}



.main_img15 {
    top: 50%;
    left: 69%;
    width: 7%;
    animation: img_pop15 1s ease-out 5s;
    animation-fill-mode: forwards;
}

@keyframes img_pop15 {
	0% {
		opacity: 0;
	}

	100% {
	opacity: 0.2; 
	top: 50%;
    left: 49%;
	}
}

.main_text p:nth-child(1) {
	position: absolute;
	font-family: sans-serif;
	letter-spacing: 0.5rem;
	font-size: 1.5rem;
	top: 85%;
	left: 35%;
	color: white;
	opacity: 0;
	animation: appear 0.5s linear 6.5s;
	animation-fill-mode: forwards;
}	

@keyframes appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.4;
		transform: translateX(-3rem);
	}
}

.main_text p:nth-child(2) {
	font-size: 1.5rem;
	font-family: sans-serif;
	letter-spacing: 0.5rem;
	opacity: 0;
	position: absolute;
	top: 85%;
	left: 55%;
	color: white; 
	animation: type1 1.5s steps(7) 8s;
	overflow: hidden;
	border-right: 0.5rem solid black; 
}

@keyframes type1 {
	0% {
		opacity: 0.4;
		width: 0ch;
	}

	100% {
		opacity: 0.4;
		width: 14ch;
	}
}

.main_text p:nth-child(3) {
	font-size: 1.5rem;
	font-family: sans-serif;
	letter-spacing: 0.5rem;
	opacity: 0;
	position: absolute;
	top: 85%;
	left: 55%;
	color: white; 
	animation: type2 2s steps(11) 10s;
	overflow: hidden;
	border-right: 0.5rem solid black; 
}

@keyframes type2 {
	0% {
		opacity: 0.4;
		width: 0ch;
	}

	100% {
		opacity: 0.4;
		width: 16ch;
	}
}

.main_text p:nth-child(4) {
	font-size: 1.5rem;
	font-family: sans-serif;
	letter-spacing: 0.5rem;
	opacity: 0;
	position: absolute;
	top: 85%;
	left: 55%;
	color: white; 
	animation: type3 1s steps(4) 12.5s;
	animation-fill-mode: forwards;
	overflow: hidden;
	border-right: 0.5rem solid black; 
}

@keyframes type3 {
	0% {
		opacity: 0.4;
		width: 0ch;
	}

	100% {
		opacity: 0.4;
		width: 7ch;
	}
}