.in_main {
	display: block;
	position: absolute;
	top: 22rem;
	left: 37.5rem;
	animation: shrink 0.7s linear 4s forwards;
	z-index: 50;
}

.wrapper{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.in_main img {
	width: 22vh;
	animation:logo_anime 3s forwards;
}

@keyframes logo_anime {
	0% {
		opacity: 0;
		transform: scale(0) rotate(-100deg);
	}

	30% {
		opacity: 0.2;
		transform: scale(1.5) rotate(90deg);
	}

	60% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		transform: translateX(-6rem) rotate(-30deg);
	}
}

.in_main span {
	/*color: #758387;*/
	color: #eeeeee;
	opacity: 0;	
	font-size: 12rem;
	letter-spacing: 3rem; 
	font-family: sans-serif;
	animation: heading_anime 1s linear 2s forwards;
}

@keyframes heading_anime {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: translateX(-4.4rem);
	}
}

@keyframes shrink {
	0% {
		transform: scale(1);
	}

	100% {
		transform-origin: left;
		top: -5%;
		left: 3%;
		transform: translate(0%,-2%) scale(0.3);
	}
}
