.departments {
	height: 100vh;
	width: 100%;
	background-color: #000000; 
	display: block;
	position: relative;
}

.lds_ring {
	padding: 20% 37%;
    z-index: 180;
    position: absolute;
}

.lds_ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  opacity: 0;
  width: 20%;
  height: 36%;
  margin: 0rem;
  border: 0.2rem solid #fff;
  border-radius: 50%;
  animation: lds_ring 7s cubic-bezier(0.5, 0, 0.5, 1);
  animation-iteration-count: 4;
  border-color: #fff transparent transparent transparent;
}

.lds_ring div:nth-child(1) {
  animation-delay: 0s;
}

.lds_ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds_ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds_ring {
  0% {
  	opacity: 0.2;
    transform: rotate(0deg);
  }
  80% {
  	opacity: 0.2;
    transform: rotate(360deg);
  }

  100% {
  	opacity: 0;
  }
}

.dept_logo {
	position: absolute;
	height: 40%;
	width: 20%;
	background-color: #495750;
	z-index: 190;
	overflow: hidden;
	opacity: 0;
}

.dept_logo1 {
	top: 30%;
	right: 20%;
	animation: dep_logo_anime 7s linear;
}

.dept_logo2 {
	top: 30%;
	left: 20%;
	animation: dep_logo_anime 7s linear 7s;
}

.dept_logo3 {
	top: 30%;
	right: 20%;
	animation: dep_logo_anime 7s linear 14s;
}

.dept_logo4 {
	top: 30%;
	left: 20%;
	animation: dep_logo_anime4 7s linear 21s;
	animation-fill-mode: forwards;
}

@keyframes dep_logo_anime4 {
	0% {
		opacity: 1;
		height: 0%;
	}

	5% {
		opacity: 1;
		height: 40%;
	}

	100% {
		opacity: 1;
		height: 40%;
	}
}

@keyframes dep_logo_anime {
	0% {
		opacity: 1;
		height: 0%;
	}

	5% {
		opacity: 1;
		height: 40%;
	}

	90% {
		opacity: 1;
		height: 40%;
	}

	100% {
		height: 0%;
	}
}

.dept_logo_img {
	height: 16rem;
	width: 16rem;
	opacity: 0.9;
}

.dept_logo_img1 {
	animation: img_zoom 7s linear;
}

.dept_logo_img2 {
	animation: img_zoom 7s linear 5s;
}

.dept_logo_img3 {
	animation: img_zoom 7s linear 5s;
}

.dept_logo_img4 {
	animation: img_zoom 7s linear 5s;
}

@keyframes img_zoom {
	0% {
		transform:scale(1);
	}

	100% {
		transform: scale(1.6) translate(-4rem,-2rem);
	}
}

.dept_desc {
	position: absolute;
	height: 100%;
	width: 70%;
	z-index: 150;
	background-color: blue;
	overflow: hidden;
	opacity: 0;
}

.dept_desc1 {
	top: 0%;
	left: 0%;
	animation: dep_desc_anime 7s linear 0.5s;
}

.dept_desc2 {
	top: 0%;
	right: 0%;
	animation: dep_desc_anime 7s linear 7.5s;
}

.dept_desc3 {
	top: 0%;
	left: 0%;
	animation: dep_desc_anime 7s linear 14.5s;
}

.dept_desc4 {
	top: 0%;
	right: 0%;
	animation: dep_desc_anime4 7s linear 21.5s;
	animation-fill-mode: forwards;
}

@keyframes dep_desc_anime4 {
	0% {
		opacity: 1;
		width: 0%;
	}

	10% {
		opacity: 1;
		width: 70%;
	}

	100% {
		opacity: 1;
		width: 70%;
	}
}


@keyframes dep_desc_anime {
	0% {
		opacity: 1;
		width: 0%;
	}

	10% {
		opacity: 1;
		width: 70%;
	}

	90% {
		opacity: 1;
		width: 70%;
	}

	100% {
		width: 0%;
	}
}

.dept_desc_img {
	height: 35rem;
	width: 50rem;
}

.dept_desc_img1 {
	animation: img_zoom 7s linear;
}

.dept_desc_img2 {
	animation: img_zoom 7s linear;
}

.dept_desc_img3 {
	animation: img_zoom 7s linear;
}

.dept_desc_img4 {
	animation: img_zoom 7s linear;
}

.description {
	position: absolute;
    height: 50%;
    width: 50%;
    z-index: 100;
    color: white;
    opacity: 0;
}

.description h1 {
	margin: 2rem 0rem;
    font-size: 2rem;
    font-family: sans-serif;
    letter-spacing: 0.1rem;
}

.description p {
	font-family: sans-serif;
	font-size: 1rem;
}


.description1 {
	top: 40%;
    left: 23%;
    animation: text_appear 5s ease-in 1s;
}

.description2 {
	top: 40%;
    right: 23%;
    animation: text_appear 5s ease-in 8s;
}

.description3 {
	top: 40%;
    left: 23%;
    animation: text_appear 5s ease-in 15s;
}

.description4 {
	top: 40%;
    right: 23%;
    animation: text_appear4 5s ease-in 22s;
    animation-fill-mode: forwards;
}


@keyframes text_appear4 {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0.8;
		transform: translate(0rem,-3rem);
	}

	100% {
		opacity: 0.8;
		transform: translate(0rem,-7rem);
	}
}

@keyframes text_appear {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0.8;
		transform: translate(0rem,-3rem);
	}

	90% {
		opacity: 0.8;
		transform: translate(0rem,-7rem);
	}
}
